@import "tailwindcss";


body {
  background-color: rgb(254, 202, 202);
}

/* styles.css */
/* Hide scrollbars globally for elements with overflow */
.overflow-auto::-webkit-scrollbar,
.overflow-y-auto::-webkit-scrollbar,
.overflow-x-auto::-webkit-scrollbar {
    display: none;
}

.overflow-auto,
.overflow-y-auto,
.overflow-x-auto {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}